In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [12]:
data = pd.read_csv('perpData.csv', header=[0])

In [13]:
data

,trader,avg_hours_between,median_mins,max_days_between,num_obs,last_active,first_active,active_span
0,\xde2e9a97961b3221740ebdb4f3f8baa7de0f85bb,0.000000,0.000000,0.000000,1,2022-05-27 8:09,2022-05-27 8:09,0:00:00
1,\xdf8ddc7512762c8ee27de320edea3041a8beec4b,0.000000,0.000000,0.000000,1,2021-12-27 14:00,2021-12-27 14:00,0:00:00
2,\x28425420e14f52ece14dcf786cf85e273313610c,0.000000,0.000000,0.000000,1,2022-01-24 5:59,2022-01-24 5:59,0:00:00
3,\xdf854c2466966a9b791bc111b0d5aa848db2d50f,0.000000,0.000000,0.000000,1,2022-01-01 12:52,2022-01-01 12:52,0:00:00
4,\xde5bfd1c9317b5625fa5d60bddde6ff01d40886f,0.000000,0.000000,0.000000,1,2022-01-19 14:00,2022-01-19 14:00,0:00:00
...,...,...,...,...,...,...,...,...
13635,\x91d46a68324991f2e96f121317b642a8d4179190,0.033799,0.250000,2.771400,128478,2022-06-22 20:51,2021-12-23 22:26,180 days 22:24:49
13636,\x16b1aa595b8ee725aee23a9d4ceac2163d80db64,0.019547,0.266667,0.333750,130466,2022-06-22 20:51,2022-03-08 14:40,106 days 06:11:18
13637,\xf77ca96962bc48d6ff7b10f35ef2f504a287b3a1,0.027614,0.250000,0.745255,132364,2022-06-22 20:53,2022-01-21 13:44,152 days 07:08:39
13638,\x66465ad392942e78f8147ae565a43f174071822b,0.026788,0.250000,0.906111,139112,2022-06-22 20:50,2022-01-18 14:14,155 days 06:35:31
13639,\x7462da033c5cceb21691d2447af34f3e333e0b85,0.017160,0.250000,0.787512,155661,2022-06-22 20:51,2022-03-03 13:45,111 days 07:06:09

In [14]:
data.describe()

       avg_hours_between    median_mins  max_days_between        num_obs
count       13640.000000   13640.000000      13640.000000   13640.000000
mean          243.684168   13299.748578         15.400571     259.769355
std           584.985652   35081.586487         30.331695    4410.174390
min             0.000000       0.000000          0.000000       1.000000
25%             0.014167       0.383333          0.000764       1.000000
50%             0.361528       5.483333          0.028299       1.000000
75%            75.531014    1306.658334         10.530955       3.000000
max          4582.114167  274926.850000        190.921424  155661.000000